{% extends 'public/templates/public_template.html' %}

{% block title %}
    SIGN UP
{% endblock title %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1> Sign up </h1>
            <hr>
            <form action="{{ url_for('sign_up') }}" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input calss="form-control" type="text" name="username">
                </div>
                
                <div class="form-group">
                    <label for="email">Email</label>
                    <input calss="form-control" type="email" name="email">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input calss="form-control" type="password" name="password">
                </div>

                <button class="btn btn-primary" type="submit"> Sign up </button>
            </form>
        </div>
    </div>
</div>
{% endblock main %}