{% extends 'public/templates/public_template.html' %}

{% block title %}
    UPLOAD IMAGE
{% endblock title %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1> Upload image </h1>
            <form action="{{url_for("upload_img")}}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for=""> Select image </label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="image" id="image">
                        <label for="image" class="custom-file-label"> Select image...</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary"> Upload image </button>
            </form>
        </div>
    </div>
</div>
{% endblock main %}